<div class="manual-content">
    <div class="manual-content__title">Зачем использовать ламинацию</div>
    <ul class="manual-desc">
        <li class="manual-desc__item manual-desc__item-design">Чтобы придать внешнему виду окна оригинальную выразительность, специалисты применяют ламинацию – приём, при помощи которого можно декорировать своё жилье с учетом самых современных веяний дизайнерского искусства.</li>
        <li class="manual-desc__item manual-desc__item-tree">При помощи ламинации оконного профиля можно, например, со всей точностью воспроизвести оттенки и структуру древесины: при этом обеспечивается полная визуализация натурального дерева, точно имитирующая расположение волокон. Помимо имитации деревянных поверхностей, применяют пленку самых разных цветов и фактур.</li>
    </ul>

    <div class="manual-content__title manual-content__title-second">Как окна становятся цветными?</div>
    <ul class="manual-desc">
            <li class="manual-desc__item"><div class="number">1</div><p>Собственно, процесс ламинации профиля ПВХ состоит в процедуре нанесения на его поверхность декоративных высокопрочных плёнок с применением специального клея и ламинирующих установок.</p>
            <li class="manual-desc__item"><div class="number">2</div><p>Плёнку прочно соединяют с профилем. При этом внешней стороне пленки свойственна высокая стойкость к повреждениям. В частности, цветное пластиковое окно, прошедшее процесс ламинации, стойко переносит температурные колебания в диапазоне от -80°С до +130°С, оно исключительно стойко к солнечному излучению.</p></li>
            <li class="manual-desc__item"><div class="number">3</div><p>Пластиковые окна, прошедшие процесс ламинации профилей, имеют срок службы гораздо больший, чем не ламинированные окна. В сравнении с окнами из массива дерева, они значительно дешевле.</p>
        </ul>
</div>