<div class="reviews-title">
    <div class="subtitle-window">Отзывы о цветных пластиковых окнах</div>
    <a href="#" class="show-reviews">посмотреть еще отзывы</a>
</div>

<div class="reviews-block">
    <div class="reviews-block__name">Алена</div>
    <div class="reviews-block__date">
        <span>Договор № 09.10.33512.13</span>
        <span>Дата размещения: 13 декабря 2013 года</span>
    </div>
    <div class="reviews-block__stars"></div>
    <div class="reviews-block__text">Поставили нам окна во всей квартире.Все очень понравилось)))компания на 5+.Все очень любезные,гибкая система скидок!!!буду советовать всем!!!Сервис был на высоте,во-первых с поставкой получилось быстрее,во-вторых два раза приезжал замерщик Алексей,ему большое спасибо...</div>
    <a href="#" class="reviews-block__read">прочитать полностью</a>
    <div class="reviews-block__write">оставить отзыв</div>
</div>